/* Global Styles */
/*font-family: 'Libre Franklin', sans-serif;
font-family: 'Libre Baskerville', serif;*/
.html {
    overflow-x: hidden;
}
.center {
    display: block;
    margin: auto;
}
.hidden {
    display: none;
}
.shadow {
    box-shadow: 0px 2px 2px #373737;
}
h2,h3 {
    font-family: 'Libre Franklin', sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.08em;
    opacity: 0.7;
}
h2 {
    font-size: 60px;
    text-align: center;
}
h3 {
    font-size: 25px;
}
p {
    font-family: 'Libre Baskerville', serif;
    font-size: 20px;
    line-height: 30px;
    color: #2C2C2C;
    opacity: 0.8;
}
.italics {
    font-style: italic;
}
.cta {
    background: #00805B;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25), 0px 0px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    font-family: 'Libre Franklin', sans-serif;
    font-weight: bold;
    color: white;
    text-align: center;
    letter-spacing: 0.06em;
    transition-duration: .25s;
}
.cta:hover {
    background: #006644;
}
.body-cta {
    width: 420px;
    height: 40px;
    padding-top: 15px;
    font-size: 20px;
    text-transform: uppercase;
}
.no-underline {
    text-decoration: none;
}


/*Now Let's start with the Nav*/
header {
    width: 100vw;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    overflow-x: hidden;
    z-index: 1000;
}
nav {
    margin-left: -8px;
    width: 100vw;
    display: grid;
    grid-template-columns: 50% 50%;
    justify-items: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.95);
    font-family: 'Libre Franklin', sans-serif;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 0.06em;
}
.nav-logo {
    padding-right: 170px;
    width: auto;
    height: 50px;
}
.nav-list {
    list-style: none;
    display: flex;
    flex-direction: row;
    padding-right: 240px;
}
nav a {
    text-decoration: none;
    text-transform: uppercase;
}
.services-nav-link {
    color: black;
    opacity: 0.6;
    padding-top: 16px;
    padding-right: 54px;
    transition-duration: .25s;
}
.services-nav-link:hover {
    opacity: 1;
}
.nav-cta {
    width: 310px;
    height: 35px;
    left: 1007px;
    padding-top: 16px;
}


body {
    margin-left: -8px;
    overflow-x: hidden;
}


/*Moving on to the landing*/
.landing {
    display: grid;
    grid-template-columns: 50% 50%;
    justify-items: center;
    margin-top: 100px;
    margin-bottom: 150px;
}
.landing-left {
    padding-left: 270px;
}
.landing p {
    padding-top: 67px;
}
.hero-heading {
    font-size: 50px;
    line-height: 62px;
}
.landing hr {
    width: 121px;
    height: 7px;
    margin-top: 28px;
    margin-left: 0;
    background-color: #00805B;
}
.hero-subheading {
    font-size: 30px;
    line-height: 37px;
}
.hero-cta {
    margin-top: 100px;
}
.landing-right {
    padding-top: 100px;
}

/*Services Section*/
.services {
    width: 100vw;
    padding-top: 130px;
    padding-bottom: 130px;
    background-color: rgba(196,196,196,0.15);
}
.services h2 {
    margin-bottom: 175px;
}
.services p {
    width: 420px;
}
.services ul {
    margin-bottom: 24px;
    font-family: 'Libre Baskerville', serif;
    font-size: 20px;
    line-height: 35px;
    color: #2C2C2C;
    opacity: 0.8;
}

.individual-services, .business-services, .debt-services {
    display: grid;
    grid-template-columns: 50% 50%;
    justify-items: center;
    margin-bottom: 180px;
}
.individual-left, .business-left {
    padding-left: 200px;
}
.debt-left {
    padding-left: 150px;
}
.individual-right, .business-right, .debt-right {
    padding-right: 200px;
}
.individual-services-icon, .business-services-icon, .debt-services-icon {
    margin-top: -40px;
}

/*Testimonial section*/
.testimonial {
    width: 100vw;
    padding-top: 500px;
    padding-bottom: 200px;
    margin-bottom: 200px;
}
.testimonial-card {
    width: 750px;
    height: 754px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25), 0px 0px 20px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    padding-top: 0px;
    justify-content: center;
    background-color: white;
}
.customer-img {
    margin-top: 50px;
}
.testimonial-byline {
    margin-top: 4px;
    margin-left: 241px;
    font-family: 'Libre Franklin', sans-serif;
    font-weight: bold;
    opacity: 0.5;
}
.lavon-story {
    width: 640px;
    margin-top: 38px;
    margin-left: 42px;
}
.big-quote {
    font-family: 'Playfair Display', serif;
    font-size: 300px;
    color: #016645;
    opacity: 0.6;
    padding: 0;
    margin: 0;
}
#testimonial-left-quote {
    padding-top: 100px;
    margin-bottom: -100px;
    margin-left: 30px;
}
#testimonial-right-quote {
    margin-top: 90px;
    margin-left: 555px;

}
.testimonial-bg-desktop {
    width: 100vw;
    margin-top: -900px;
    position: absolute;
    z-index: -1;
}

/*Founder's Story Section*/
.about {
    margin: auto auto 100px auto;
    padding-top: 400px;
}
.about-byline {
    text-align: center;
    margin: 4px auto 50px auto;
    font-family: 'Libre Franklin', sans-serif;
    font-weight: bold;
    opacity: 0.5;
}
.about-text-1 {
    width: 590px;
    margin-bottom: 20px;
}
.about-text-2 {
    width: 590px;
}

footer {
    margin-top: 200px;
    padding-top: 100px;
    height: 250px;
    width: 100vw;
    overflow-x: hidden;
    background-color: #00805B;
    text-align: center;
}
#footer-text {
    color: white;
    opacity: 1;
}

/*Now for the fun part: Media Queries*/

/*Laptop Size. We need to adjust the center spacing on the Hero and the services section. Give the elements more breathing room*/
@media (max-width: 1440px) {
    .nav-logo {
        padding-right: 270px;
    }
    .nav-list {
        padding-right: 140px;
    }

    .landing-left {
        padding-left: 170px;
    }
    .landing-right {
        padding-left: 100px;
    }


    .individual-left, .business-left {
        padding-left: 100px;
    }
    .debt-left {
        padding-left: 50px;
    }
    .individual-right, .business-right, .debt-right {
        padding-right: 100px;
    }


    .about {
        padding-top: 0px;
        padding-bottom: 200px;
    }
}

/* Ipad/Tablet Size.  This one's a doozy. New font sizes, new alignment on the <p> and the icons.*/
@media (max-width: 1024px) {
    /*First up, the changes in Global Styles*/
    h2 {
        font-size: 30px;
        line-height: 36px;
    }
    h3 {
        font-size: 20px;
        line-height: 24px;
        letter-spacing: 0.07em;
    }
    p {
        font-size: 18px;
        line-height: 28px;
    }
    .body-cta {
        width: 692px;
        height: 55px;
        padding-top: 25px;
        font-size: 18px;
        line-height: 30px;
    }

    /*Landing / Hero needs respaced and resized*/
    .landing {
        margin-top: 50px;
    }
    .hero-heading {
        font-size: 34px;
        line-height: 42px;
    }
    .hero-subheading {
        font-size: 20px;
        line-height: 25px;
    }
    .landing-left {
        padding-left: 416px;
    }
    .landing-right {
        padding-top: 50px;
    }
    .piggy {
        width: 600px;
        height: auto;
    }
    .hero-cta {
        margin-left: 86px;
        margin-top: 300px;
    }

    /*Services Section needs respaced. Side-by-side won't cut it from here on out*/
    .services h2 {
        margin-bottom: 100px;
    }
    .services p {
        width: 692px;
    }
    .services ul {
        margin-bottom: 24px;
        font-family: 'Libre Baskerville', serif;
        font-size: 18px;
        line-height: 32px;
    }
    .services h3 {
        text-align: center;
    }
    .individual-services, .business-services, .debt-services {
        grid-template-columns: 100%;
        width: 100vw;
    }

    .individual-left {
        order: 2;
        padding-left: 0px;
    }
    .individual-right {
        order: 1;
        padding-right: 0px;
    }

    .business-left {
        padding-left: 0px;
    }
    .business-right {
        padding-right: 0px;
        margin-top: 40px;
    }

    .debt-left {
        padding-left: 0px;
        order: 2;
        margin-top: 40px;
    }
    .debt-right {
        padding-right: 0px;
        order: 1;
    }

    .individual-services-icon, .business-services-icon, .debt-services-icon {
        height: 400px;
        width: auto;   
    }

    /*Testimonial card needs to be smaller and moved up*/
    .testimonial {
        padding-top: 200px;
    }
    .testimonial-card {
        width: 750px;
        height: 704px;
    }
    .testimonial-bg-desktop {
        margin-top: -600px;
    }
    

    .about {
        padding-top: 0px;
    }
}